@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-pixelify);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.crisp-pixel-font {
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  font-smooth: never;
}

/* Spinning animation */
@keyframes continuous-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hover-spin:hover {
  animation: continuous-spin 3s linear infinite;
}

@keyframes infinite-cloud-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-clouds-slow {
  animation: infinite-cloud-scroll 120s linear infinite;
}

.animate-clouds-mid {
  animation: infinite-cloud-scroll 80s linear infinite;
}

.animate-clouds-fast {
  animation: infinite-cloud-scroll 50s linear infinite;
}